<a href="https://colab.research.google.com/github/rabiyulfahimhasim786/pandas/blob/main/pandas_merging_and_reading_columns_as_double_quotes_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data1 = pd.read_csv("text.csv", encoding= 'unicode_escape', header=0, dtype=str)
data1.head()

  Unnamed: 0  PageNo                                               Text
0          0  page_1  ['IomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...

In [ ]:
data1.shape

(1, 3)

In [ ]:
data2 = pd.read_csv("key_value.csv", encoding= 'unicode_escape', header=0, dtype=str)
data2.head()

  Unnamed: 0               Keys        Values
0          0             Change         $0.00
1          1              Total        $14.04
2          2            Auth #:        000109
3          3           Balance:         $1.09
4          4  Reference Number:  110619134414

In [ ]:
data2.shape

(12, 3)

In [ ]:
data3 = pd.read_csv("datas.csv", encoding= 'unicode_escape', header=0, dtype=str)
data3.head()

     0         1       2      3
0  NaN  22 - PET  494016  $2.99
1    1  22 - PET  501290  $2.99
2    2  22 - PET  452039  $6.99

In [ ]:
data3.shape

(3, 4)

In [ ]:
concate_data = pd.concat([data1,data2,data3], ignore_index=True)
concate_data.head()

,Unnamed: 0,PageNo,Text,Keys,Values,0,1,2,3
0,0,page_1,"['IomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...",NaN,NaN,NaN,NaN,NaN,NaN
1,0,NaN,NaN,Change,$0.00,NaN,NaN,NaN,NaN
2,1,NaN,NaN,Total,$14.04,NaN,NaN,NaN,NaN
3,2,NaN,NaN,Auth #:,000109,NaN,NaN,NaN,NaN
4,3,NaN,NaN,Balance:,$1.09,NaN,NaN,NaN,NaN

In [ ]:
concate_data.to_csv('sampledata.csv', index=False)
# c = concate_data.dropna
# c
concate_data

,Unnamed: 0,PageNo,Text,Keys,Values,0,1,2,3
0,0,page_1,"['IomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...",NaN,NaN,NaN,NaN,NaN,NaN
1,0,NaN,NaN,Change,$0.00,NaN,NaN,NaN,NaN
2,1,NaN,NaN,Total,$14.04,NaN,NaN,NaN,NaN
3,2,NaN,NaN,Auth #:,000109,NaN,NaN,NaN,NaN
4,3,NaN,NaN,Balance:,$1.09,NaN,NaN,NaN,NaN
5,4,NaN,NaN,Reference Number:,110619134414,NaN,NaN,NaN,NaN
6,5,NaN,NaN,Entry Method:,Swiped,NaN,NaN,NaN,NaN
7,6,NaN,NaN,Subtotal,$12.97,NaN,NaN,NaN,NaN
8,7,NaN,NaN,Merchandise Credit,$14.04,NaN,NaN,NaN,NaN
9,8,NaN,NaN,Sold Item Count =,3,NaN,NaN,NaN,NaN
10,9,NaN,NaN,TX 8.250% Sales Tax,$1.07,NaN,NaN,NaN,NaN
11,10,NaN,NaN,Survey number:,0456065252,NaN,NaN,NaN,NaN
12,11,NaN,NaN,Respond by,11/20/19,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,22 - PET,494016,$2.99
14,NaN,NaN,NaN,NaN,NaN,1,22 - PET,501290,$2.99
15,NaN,NaN,NaN,NaN,NaN,2,22 - PET,452039,$6.99

In [ ]:
import pandas as pd

a = pd.read_csv("text.csv")
b = pd.read_csv("key_value.csv")
frames=[a,b]
mergedFrames=pd.DataFrame()
mergedFrames=pd.concat(frames, ignore_index=True)
mergedFrames.to_csv('test.csv')
mergedFrames

,Unnamed: 0,PageNo,Text,Keys,Values
0,0,page_1,"['Notice', 'CP140', 'Department of the Treasur...",NaN,NaN
1,0,NaN,NaN,Tax form,941
2,1,NaN,NaN,Notice,CP140
3,2,NaN,NaN,Notice date,"November 21, 2022"
4,3,NaN,NaN,Employer ID number,XX-XXX8584
5,4,NaN,NaN,Tax period,"June 30, 2020"
6,5,NaN,NaN,To contact us,Phone 844-875-3420
7,6,NaN,NaN,Taxpayer number,6399084080
8,7,NaN,NaN,Current law requires us to contract with quali...,"COAST PROFESSIONAL, INC. PO BOX 425 GENESEO, N..."
9,8,NaN,NaN,Additional information,VALUE_NOT_FOUND
10,9,NaN,NaN,You can also find the following online:,"Publication 1, Your Rights as a Taxpayer For t..."

In [ ]:
import pandas as pd
import io

#csv_list = ('text.csv', 'key_value.csv', 'datas.csv')

data = [data1,data2,data3]
#df_master = pd.read_csv('filepaths.csv')
prefix_df = []
for csv_file in data:
    #df = pd.read_csv(csv_file, encoding='utf8',  header=None,  dtype=str)
    #df.to_csv('filepaths.csv', mode='a', header=False, index=False)
    #test = pd.concat(df, ignore_index=True)
    prefix_df.append(csv_file)
    data = pd.concat(prefix_df, ignore_index=True)
data

,Unnamed: 0,PageNo,Text,Keys,Values,0,1,2,3
0,0,page_1,"['IomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...",NaN,NaN,NaN,NaN,NaN,NaN
1,0,NaN,NaN,Change,$0.00,NaN,NaN,NaN,NaN
2,1,NaN,NaN,Total,$14.04,NaN,NaN,NaN,NaN
3,2,NaN,NaN,Auth #:,000109,NaN,NaN,NaN,NaN
4,3,NaN,NaN,Balance:,$1.09,NaN,NaN,NaN,NaN
5,4,NaN,NaN,Reference Number:,110619134414,NaN,NaN,NaN,NaN
6,5,NaN,NaN,Entry Method:,Swiped,NaN,NaN,NaN,NaN
7,6,NaN,NaN,Subtotal,$12.97,NaN,NaN,NaN,NaN
8,7,NaN,NaN,Merchandise Credit,$14.04,NaN,NaN,NaN,NaN
9,8,NaN,NaN,Sold Item Count =,3,NaN,NaN,NaN,NaN
10,9,NaN,NaN,TX 8.250% Sales Tax,$1.07,NaN,NaN,NaN,NaN
11,10,NaN,NaN,Survey number:,0456065252,NaN,NaN,NaN,NaN
12,11,NaN,NaN,Respond by,11/20/19,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,22 - PET,494016,$2.99
14,NaN,NaN,NaN,NaN,NaN,1,22 - PET,501290,$2.99
15,NaN,NaN,NaN,NaN,NaN,2,22 - PET,452039,$6.99

**merging succeesful method**

In [ ]:
import pandas as pd
import io

csv_list = ('text.csv', 'key_value.csv', 'datas.csv')

#df_master = pd.read_csv('filepaths.csv')
prefix_df = []
for csv_file in csv_list:
    df = pd.read_csv(csv_file, encoding='utf8',  header=None,  dtype=str)
    #df.to_csv('filepaths.csv', mode='a', header=False, index=False)
    #test = pd.concat(df, ignore_index=True)
    prefix_df.append(df)
    data = pd.concat(prefix_df, ignore_index=True)
data

,0,1,2,3
0,NaN,PageNo,Text,NaN
1,0,page_1,"['IomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...",NaN
2,NaN,Keys,Values,NaN
3,0,Change,$0.00,NaN
4,1,Total,$14.04,NaN
5,2,Auth #:,000109,NaN
6,3,Balance:,$1.09,NaN
7,4,Reference Number:,110619134414,NaN
8,5,Entry Method:,Swiped,NaN
9,6,Subtotal,$12.97,NaN
10,7,Merchandise Credit,$14.04,NaN
11,8,Sold Item Count =,3,NaN
12,9,TX 8.250% Sales Tax,$1.07,NaN
13,10,Survey number:,0456065252,NaN
14,11,Respond by,11/20/19,NaN
15,0,1,2,3
16,NaN,22 - PET,494016,$2.99
17,1,22 - PET,501290,$2.99
18,2,22 - PET,452039,$6.99

In [ ]:
data.to_csv('sampledatas2.csv', index=False)

In [ ]:

# Using data library
import dask.dataframe as dd
df = dd.read_csv("*.csv")
df

Dask DataFrame Structure:
              Unnamed: 0  PageNo    Text    Keys  Values        0        1        2        3
npartitions=6
                   int64  object  object  object  object  float64  float64  float64  float64
                     ...     ...     ...     ...     ...      ...      ...      ...      ...
...                  ...     ...     ...     ...     ...      ...      ...      ...      ...
                     ...     ...     ...     ...     ...      ...      ...      ...      ...
                     ...     ...     ...     ...     ...      ...      ...      ...      ...
Dask Name: read-csv, 6 tasks

In [ ]:
import pandas as pd
filenames = ['table.csv', 'key_value.csv']
combined_csv = pd.concat( [ pd.read_csv(f) for f in filenames ] )
combined_csv

,Unnamed: 0,22 - PET,494016,$2.99,Keys,Values
0,1,22 - PET,501290.0,$2.99,NaN,NaN
1,2,22 - PET,452039.0,$6.99,NaN,NaN
0,0,NaN,NaN,NaN,Tax form,941
1,1,NaN,NaN,NaN,Notice,CP140
2,2,NaN,NaN,NaN,Notice date,"November 21, 2022"
3,3,NaN,NaN,NaN,Employer ID number,XX-XXX8584
4,4,NaN,NaN,NaN,Tax period,"June 30, 2020"
5,5,NaN,NaN,NaN,To contact us,Phone 844-875-3420
6,6,NaN,NaN,NaN,Taxpayer number,6399084080
7,7,NaN,NaN,NaN,Current law requires us to contract with quali...,"COAST PROFESSIONAL, INC. PO BOX 425 GENESEO, N..."
8,8,NaN,NaN,NaN,Additional information,VALUE_NOT_FOUND
9,9,NaN,NaN,NaN,You can also find the following online:,"Publication 1, Your Rights as a Taxpayer For t..."

**Pandas deleting specific column based on a columns name**

In [ ]:
# import pandas with shortcut 'pd'
import pandas as pd

# read_csv function which is used to read the required CSV file
data = pd.read_csv('table.csv')

# display
print(data)

# drop function which is used in removing or deleting rows or columns from the CSV files
data.drop('0', inplace=True, axis=1)

# display
print(data)
data['Tax'] = 'T'
data.to_csv('sampletable.csv', header=None, index=False)
data

     0         1       2      3
0  NaN  22 - PET  494016  $2.99
1  1.0  22 - PET  501290  $2.99
2  2.0  22 - PET  452039  $6.99
          1       2      3
0  22 - PET  494016  $2.99
1  22 - PET  501290  $2.99
2  22 - PET  452039  $6.99

          1       2      3 Tax
0  22 - PET  494016  $2.99   T
1  22 - PET  501290  $2.99   T
2  22 - PET  452039  $6.99   T

**Adding new column in a csv file using python**

In [ ]:
# import pandas with shortcut 'pd'
import pandas as pd

# read_csv function which is used to read the required CSV file
data = pd.read_csv('sampletable.csv', header=None, dtype=str)

# display
print(data)
data.to_csv('data.csv', index=False)
# data['Tax'] = 'T'
# data
# names = [( str(i)) for i in range(1, 10)]
# df1 = pd.read_csv('sampletable.csv', names=names, header=None)
# df1.to_csv('data.csv')

          0       1      2  3
0  22 - PET  494016  $2.99  T
1  22 - PET  501290  $2.99  T
2  22 - PET  452039  $6.99  T

In [ ]:
# import pandas with shortcut 'pd'
import pandas as pd

# read_csv function which is used to read the required CSV file
data = pd.read_csv('text.csv')
data

   Unnamed: 0  PageNo                                               Text
0           0  page_1  ['IomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...

**Adding break tag**

In [ ]:
data['Text'] = data['Text'].str.replace(r',', ',</br>')

**Removing specific speacila charaters from csv file**

In [ ]:
data['Text']= data['Text'].str.replace(r'[^A-Za-z0-9,</>]+', '')
data['Text'].to_csv('header.csv', index=False)

<ipython-input-56-2081db40b06f>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Text']= data['Text'].str.replace(r'[^A-Za-z0-9,</>]+', '')

**Removing all special characters**

In [ ]:
import re
p = re.compile(r'[^\w\s]+')
data['Text'] = [p.sub('', x) for x in data['Text'].tolist()]
data['Text'].to_csv('header1.csv')

In [ ]:
import string

punct = '!"#$%&\'()*+-./:;<=>?@[\\]^_`{}~'   # `|` is not present here
transtab = str.maketrans(dict.fromkeys(punct, ''))

data['Text'] = '|'.join(data['Text'].tolist()).translate(transtab).split('|')
data['Text'].to_csv('header1.csv')

**slicing keyword till sale or regular sale**

In [ ]:
#dataframe creating method
import pandas as pd 
# List1 
lst = [['apple', 'red', 11], ['grape', 'green', 22], ['orange', 'orange', 33], ['mango', 'yellow', 44]] 
df = pd.DataFrame(lst, columns =['Fruits', 'Color', 'Value']) 
print(df)

   Fruits   Color  Value
0   apple     red     11
1   grape   green     22
2  orange  orange     33
3   mango  yellow     44

In [ ]:
#slicing keywords
import pandas as pd
import re
# reading the csv file
df = pd.read_csv("text.csv")
#print(df)
var = df['Text']
var
a = []
#print(var)
for x in var:
  #print(x)
  #c = x.index("REGULAR SALE")
  #print(c)
  c = 106
  #print(x[0:c]+']')
  b = x[0:c-1]
  a.append(b)
print(a)

["['IomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', '281-574-1720', "]

In [ ]:
#dataframe creating method
import pandas as pd 
# List1 
lst = a
df = pd.DataFrame(lst, columns =['Text']) 
print(df)

                                                Text
0  ['IomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...

In [ ]:
df['Text'] = df['Text'].str.replace(r',', ',</br>')

In [ ]:
df['Text']= df['Text'].str.replace(r'[^A-Za-z0-9,</>]+', '', regex=True)
df['Text'].to_csv('header.csv', index=False)

**Merging csv using python**

In [ ]:
import pandas as pd
data1 = pd.read_csv("data.csv", encoding= 'unicode_escape', header=0, dtype=str)
data1.head()

                                                 Url Statuscode Statusreason
0   https://www.desss.com/it-services-consulting-...        403    Forbidden
1   https://www.desss.com/information-technology-...        403    Forbidden
2   https://www.desss.com/enterprise-business-sol...        403    Forbidden
3   https://www.desss.com/application-software-de...        403    Forbidden
4                    https://www.desss.com/blog.php         403    Forbidden

In [ ]:
import pandas as pd
import csv
with open('data.csv') as f:
    reader = csv.reader(f)
    with open('output.csv', 'w') as g:
        writer = csv.writer(g)
        for row in reader:
            new_row = [' '.join([row[1], row[2]])] + row[3:]
            writer.writerow(new_row)

In [ ]:
import pandas as pd
data1 = pd.read_csv("output.csv", encoding= 'unicode_escape', header=0, dtype=str)
data1.head()

  Statuscode Statusreason
0           403 Forbidden
1           403 Forbidden
2           403 Forbidden
3           403 Forbidden
4           403 Forbidden

**Reading csv as a List with double quotes and single quotes**

In [ ]:
import json
import pandas as pd

filedata = "data.csv"
dfjson = pd.read_csv(filedata, index_col=None, header=0)
input_list = dfjson['URL'].str.strip().values.tolist()

# Convert the list to a JSON-formatted string with double quotes
broken_data = json.dumps(input_list)
print(broken_data)

["https://www.webdesignerhouston.us/portfolio/computer-printer-technical-support-home-commercial-computer-services-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/refining-chemical-engineer-joomla-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/trophies-wholesale-retail-microsoft-asp-net-ecommerce-web-design-web-development.html", "https://www.webdesignerhouston.us/event/web-design-services-company-houston.html", "https://www.webdesignerhouston.us/portfolio/small-business-website-design-wordpress-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/beauty-spa-products-equipment-eCommerce-retail-website.html", "https://www.webdesignerhouston.us/portfolio/geo-fencing.html", "https://www.webdesignerhouston.us/portfolio/Advertising-coupons-grocery-stores-website-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/ecommerce-restaurant-industry-magento.html", "https://www.webdesignerhouston.us/portfolio/restaurant-counter-food-delivery-android-app-design-development.html", "https://www.webdesignerhouston.us/portfolio/mobile-app-networking-events-ios-devices.html", "https://www.webdesignerhouston.us/portfolio/non-profit-organization-php-web-design-web-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/skin-care-ecommerce-retail-website-design-ecommerce-consulting-company.html", "https://www.webdesignerhouston.us/portfolio/metaphysics-tarot-spiritual-tools-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/ac-maintenance-website-design-houston-dallas-austion.html", "https://www.webdesignerhouston.us/portfolio/oil-and-gas-wordpress-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/commercial-building-construction-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/virtual-crm-business-app-technology.html", "https://www.webdesignerhouston.us/portfolio/loans-veterans-va-advisory-website-design-company-houston.html", "https://www.webdesignerhouston.us/portfolio/vquiz2u.html", "https://www.webdesignerhouston.us/portfolio/ecommerce-pets-accesories-food-for-pets.html", "https://www.webdesignerhouston.us/portfolio/android-app-legal-issues-concern-questions-reach-attorney.html", "https://www.webdesignerhouston.us/portfolio/ecommerce-wordpress-sweet-shop-website-design-company-in-houston.html", "https://www.webdesignerhouston.us/portfolio/content-management-system-consulting-language-education-institute-wordpress-websites-design.html", "https://www.webdesignerhouston.us/portfolio/medical-healthcare-wordpress-design-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/ergonomic-seating-and-accessories-wordpress-webdesign-and-development.html", "https://www.webdesignerhouston.us/portfolio/dental-clinic-adults-pediatric-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/event/mobilephone.html", "https://www.webdesignerhouston.us/portfolio/trophy-supplies-wholesale-asp-net-ecommerce-web-design-web-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/custom-printing-retail-ecommerce-web-design-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/share-point-business-wordpress-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/non-profit-organization-jommla-web-design-development.html", "https://www.webdesignerhouston.us/portfolio/healthcare-neurological-neuromuscular-examination-services-web-design-web-development", "https://www.webdesignerhouston.us/portfolio/audit-it-security-information-technology-wordpress-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/landscape-services-joomla-content-management-system-consulting-development-houston.html", "https://www.webdesignerhouston.us/portfolio/dental-care-dentist-web-design-development-houston.html", "https://www.webdesignerhouston.us/event/pmt.html", "https://www.webdesignerhouston.us/portfolio/orthodontist.html", "https://www.webdesignerhouston.us/portfolio/personal-biographic-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/jewelry-eCommerce-retail-website-design-development.html", "https://www.webdesignerhouston.us/portfolio/magento-ecommerce-tennis-sports-retail-company-houston.html", "https://www.webdesignerhouston.us/portfolio/real-estate-web-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/allergy-clinic-web-design-development-houston.html", "https://www.webdesignerhouston.us/portfolio/auto-parts-magento-ecommerce-customization-developer-company.html", "https://www.webdesignerhouston.us/portfolio/firearms-weapons-militarily-bigcommerce-web-design-company.html", "https://www.webdesignerhouston.us/portfolio/food-catering-industry-wordpress-website-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/electrical-services-solution-residential-commercial-web-design-development-houston.html", "https://www.webdesignerhouston.us/portfolio/oil-and-gas-wordpress-website-design-development-consulting-company.html", "https://www.webdesignerhouston.us/portfolio/android-dentist-app-developer-houston.html", "https://www.webdesignerhouston.us/portfolio/mix-tapes-app-music-entertainment-android-technology.html", "https://www.webdesignerhouston.us/event/website-redesign-houston.html", "https://www.webdesignerhouston.us/portfolio/furnace-air-conditioning-heating-repair-tune-up-web-design-houston.html", "https://www.webdesignerhouston.us/portfolio/landscape-services-artificial-turf-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/real-estate-android-app-development-houston.html", "https://www.webdesignerhouston.us/portfolio/helpdesk-app-android-development-task-business.html", "https://www.webdesignerhouston.us/portfolio/wordpress-content-management-system-architectural-elements.html", "https://www.webdesignerhouston.us/portfolio/pediatric-practice-clinic-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/marketing-solutions-online-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/architects-design-web-design-web-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/android-app-development-storage-tracking-organizer.html", "https://www.webdesignerhouston.us/portfolio/air-conditioning-heating-maintenance-services-website-design-development-houston-austin-dallas-san-antonio.html", "https://www.webdesignerhouston.us/portfolio/oil-and-gas-joomla-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/CRM-customer-relationship-management-company-consulting-design-development.html", "https://www.webdesignerhouston.us/portfolio/pediatric-clinic-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/Air-conditioner-wordpress-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/law-firm-content-management-system-consulting-development-houston.html", "https://www.webdesignerhouston.us/portfolio/help-desk-website-design-IT-Solution-online.html", "https://www.webdesignerhouston.us/portfolio/oil-gas-website-php-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/telecommunications-equipment-supplies-xcart-ecommerce-company.html", "https://www.webdesignerhouston.us/portfolio/cultural-event-social-sport-magazine-joomla-web-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/music-entertainment-video-net-web-design.html", "https://www.webdesignerhouston.us/portfolio/tree-services-residential-commercial-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/staffing-industry-php-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/business-estate-valuations-php-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/hydraulic-flanges-components-drupal-ecommerce-website-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/door-hardware-locks-cylinders-ecommerce-web-design-houston.html", "https://www.webdesignerhouston.us/portfolio/book-charter-flight-tool-android-app-development-design.html", "https://www.webdesignerhouston.us/portfolio/pediatric-clinic-medical-dental-counseling-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/creative-services-ecommerce-joomla-web-design-company.html", "https://www.webdesignerhouston.us/portfolio/digestive-liver-clinic-specialist-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/newspaper-magazine-online-news-multimedia-wordpress-website-design-and-development.html", "https://www.webdesignerhouston.us/portfolio/lawyers-website-design-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/toner-magento-eCommerce-retail-website-development.html", "https://www.webdesignerhouston.us/portfolio/medical-healthcare-website-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/soccer-sports-website-ecommerce-magento-web-design-houston-dallas-austin-san-antonio.html", "https://www.webdesignerhouston.us/portfolio/hats-ecommerce-zencart-website-design-company-in-houston-dallas-austin-san-antonio.html", "https://www.webdesignerhouston.us/portfolio/zigzan-realtor.html", "https://www.webdesignerhouston.us/portfolio/medical-healthcare-joomla-website-design-company.html", "https://www.webdesignerhouston.us/portfolio/app-android-food-drink-point-of-sale.html", "https://www.webdesignerhouston.us/portfolio/computer-jobs-recruitment-web-design-web-development.html", "https://www.webdesignerhouston.us/event/https://play.google.com/store/apps/details?id=com.reachdentist.reachdentist", "https://www.webdesignerhouston.us/event/https://play.google.com/store/apps/details?id=com.zigzan", "https://www.webdesignerhouston.us/event/https://play.google.com/store/apps/details?id=com.zigzanrealter.zigzanrealter", "https://www.webdesignerhouston.us/event/https://play.google.com/store/apps/details?id=app.desss.vcrm"]

In [ ]:
import json

# Assuming dfjson['URL'].values.tolist() gives you ['link1', 'link2']
input_list = dfjson['URL'].str.strip().values.tolist()

# Convert the list to a JSON-formatted string
json_string = json.dumps(input_list)
print(json_string)
# json_string = json.dumps(input_list, ensure_ascii=False)
# Parse the JSON string back into a list
output_list = json.loads(json_string)

print(output_list)

["https://www.webdesignerhouston.us/portfolio/computer-printer-technical-support-home-commercial-computer-services-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/refining-chemical-engineer-joomla-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/trophies-wholesale-retail-microsoft-asp-net-ecommerce-web-design-web-development.html", "https://www.webdesignerhouston.us/event/web-design-services-company-houston.html", "https://www.webdesignerhouston.us/portfolio/small-business-website-design-wordpress-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/beauty-spa-products-equipment-eCommerce-retail-website.html", "https://www.webdesignerhouston.us/portfolio/geo-fencing.html", "https://www.webdesignerhouston.us/portfolio/Advertising-coupons-grocery-stores-website-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/ecommerce-restaurant-industry-magento.html", "https://www.webdesignerhouston.us/portfolio/restaurant-counter-food-delivery-android-app-design-development.html", "https://www.webdesignerhouston.us/portfolio/mobile-app-networking-events-ios-devices.html", "https://www.webdesignerhouston.us/portfolio/non-profit-organization-php-web-design-web-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/skin-care-ecommerce-retail-website-design-ecommerce-consulting-company.html", "https://www.webdesignerhouston.us/portfolio/metaphysics-tarot-spiritual-tools-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/ac-maintenance-website-design-houston-dallas-austion.html", "https://www.webdesignerhouston.us/portfolio/oil-and-gas-wordpress-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/commercial-building-construction-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/virtual-crm-business-app-technology.html", "https://www.webdesignerhouston.us/portfolio/loans-veterans-va-advisory-website-design-company-houston.html", "https://www.webdesignerhouston.us/portfolio/vquiz2u.html", "https://www.webdesignerhouston.us/portfolio/ecommerce-pets-accesories-food-for-pets.html", "https://www.webdesignerhouston.us/portfolio/android-app-legal-issues-concern-questions-reach-attorney.html", "https://www.webdesignerhouston.us/portfolio/ecommerce-wordpress-sweet-shop-website-design-company-in-houston.html", "https://www.webdesignerhouston.us/portfolio/content-management-system-consulting-language-education-institute-wordpress-websites-design.html", "https://www.webdesignerhouston.us/portfolio/medical-healthcare-wordpress-design-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/ergonomic-seating-and-accessories-wordpress-webdesign-and-development.html", "https://www.webdesignerhouston.us/portfolio/dental-clinic-adults-pediatric-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/event/mobilephone.html", "https://www.webdesignerhouston.us/portfolio/trophy-supplies-wholesale-asp-net-ecommerce-web-design-web-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/custom-printing-retail-ecommerce-web-design-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/share-point-business-wordpress-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/non-profit-organization-jommla-web-design-development.html", "https://www.webdesignerhouston.us/portfolio/healthcare-neurological-neuromuscular-examination-services-web-design-web-development", "https://www.webdesignerhouston.us/portfolio/audit-it-security-information-technology-wordpress-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/landscape-services-joomla-content-management-system-consulting-development-houston.html", "https://www.webdesignerhouston.us/portfolio/dental-care-dentist-web-design-development-houston.html", "https://www.webdesignerhouston.us/event/pmt.html", "https://www.webdesignerhouston.us/portfolio/orthodontist.html", "https://www.webdesignerhouston.us/portfolio/personal-biographic-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/jewelry-eCommerce-retail-website-design-development.html", "https://www.webdesignerhouston.us/portfolio/magento-ecommerce-tennis-sports-retail-company-houston.html", "https://www.webdesignerhouston.us/portfolio/real-estate-web-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/allergy-clinic-web-design-development-houston.html", "https://www.webdesignerhouston.us/portfolio/auto-parts-magento-ecommerce-customization-developer-company.html", "https://www.webdesignerhouston.us/portfolio/firearms-weapons-militarily-bigcommerce-web-design-company.html", "https://www.webdesignerhouston.us/portfolio/food-catering-industry-wordpress-website-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/electrical-services-solution-residential-commercial-web-design-development-houston.html", "https://www.webdesignerhouston.us/portfolio/oil-and-gas-wordpress-website-design-development-consulting-company.html", "https://www.webdesignerhouston.us/portfolio/android-dentist-app-developer-houston.html", "https://www.webdesignerhouston.us/portfolio/mix-tapes-app-music-entertainment-android-technology.html", "https://www.webdesignerhouston.us/event/website-redesign-houston.html", "https://www.webdesignerhouston.us/portfolio/furnace-air-conditioning-heating-repair-tune-up-web-design-houston.html", "https://www.webdesignerhouston.us/portfolio/landscape-services-artificial-turf-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/real-estate-android-app-development-houston.html", "https://www.webdesignerhouston.us/portfolio/helpdesk-app-android-development-task-business.html", "https://www.webdesignerhouston.us/portfolio/wordpress-content-management-system-architectural-elements.html", "https://www.webdesignerhouston.us/portfolio/pediatric-practice-clinic-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/marketing-solutions-online-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/architects-design-web-design-web-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/android-app-development-storage-tracking-organizer.html", "https://www.webdesignerhouston.us/portfolio/air-conditioning-heating-maintenance-services-website-design-development-houston-austin-dallas-san-antonio.html", "https://www.webdesignerhouston.us/portfolio/oil-and-gas-joomla-content-management-system-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/CRM-customer-relationship-management-company-consulting-design-development.html", "https://www.webdesignerhouston.us/portfolio/pediatric-clinic-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/Air-conditioner-wordpress-webdesign-web-development-company.html", "https://www.webdesignerhouston.us/portfolio/law-firm-content-management-system-consulting-development-houston.html", "https://www.webdesignerhouston.us/portfolio/help-desk-website-design-IT-Solution-online.html", "https://www.webdesignerhouston.us/portfolio/oil-gas-website-php-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/telecommunications-equipment-supplies-xcart-ecommerce-company.html", "https://www.webdesignerhouston.us/portfolio/cultural-event-social-sport-magazine-joomla-web-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/music-entertainment-video-net-web-design.html", "https://www.webdesignerhouston.us/portfolio/tree-services-residential-commercial-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/staffing-industry-php-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/business-estate-valuations-php-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/hydraulic-flanges-components-drupal-ecommerce-website-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/door-hardware-locks-cylinders-ecommerce-web-design-houston.html", "https://www.webdesignerhouston.us/portfolio/book-charter-flight-tool-android-app-development-design.html", "https://www.webdesignerhouston.us/portfolio/pediatric-clinic-medical-dental-counseling-web-design-web-development-houston.html", "https://www.webdesignerhouston.us/portfolio/creative-services-ecommerce-joomla-web-design-company.html", "https://www.webdesignerhouston.us/portfolio/digestive-liver-clinic-specialist-web-design-web-development.html", "https://www.webdesignerhouston.us/portfolio/newspaper-magazine-online-news-multimedia-wordpress-website-design-and-development.html", "https://www.webdesignerhouston.us/portfolio/lawyers-website-design-development-company-houston.html", "https://www.webdesignerhouston.us/portfolio/toner-magento-eCommerce-retail-website-development.html", "https://www.webdesignerhouston.us/portfolio/medical-healthcare-website-design-development-company.html", "https://www.webdesignerhouston.us/portfolio/soccer-sports-website-ecommerce-magento-web-design-houston-dallas-austin-san-antonio.html", "https://www.webdesignerhouston.us/portfolio/hats-ecommerce-zencart-website-design-company-in-houston-dallas-austin-san-antonio.html", "https://www.webdesignerhouston.us/portfolio/zigzan-realtor.html", "https://www.webdesignerhouston.us/portfolio/medical-healthcare-joomla-website-design-company.html", "https://www.webdesignerhouston.us/portfolio/app-android-food-drink-point-of-sale.html", "https://www.webdesignerhouston.us/portfolio/computer-jobs-recruitment-web-design-web-development.html", "https://www.webdesignerhouston.us/event/https://play.google.com/store/apps/details?id=com.reachdentist.reachdentist", "https://www.webdesignerhouston.us/event/https://play.google.com/store/apps/details?id=com.zigzan", "https://www.webdesignerhouston.us/event/https://play.google.com/store/apps/details?id=com.zigzanrealter.zigzanrealter", "https://www.webdesignerhouston.us/event/https://play.google.com/store/apps/details?id=app.desss.vcrm"]